<link rel="stylesheet" href="/styles/forgot.css" />
<form class="form">
  <p class="form-title">Forgot password? </p>
  <img
    src="https://emojigraph.org/media/google/pleading-face_1f97a.png"
    class="icon"
    alt=""
  />
  <div class="input-container">
    <input type="email" placeholder="Enter email" />
    <span>
    </span>
  </div>

  {{#if done}}
    <p class="success">This email has been sent. Please check your mail.</p>
  {{else if message}}
    <p class="failure">{{message}}</p>
  {{/if}}
  {{! <div class="input-container">
    <input type="password" placeholder="Enter password" />
  </div>
  <div class="input-container">
    <input type="password" placeholder="Confirm password" />
  </div> }}
  <button type="submit" class="submit">
    Submit
  </button>

  <p class="signup-link">
    No account?
    <a href="">Sign up</a>
  </p>
</form>